.swiper-container {
  max-height: 1080px;
  max-width: 1920px;
  img {
    width: 100%;
    height: auto;
  }
}

.html-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 100%;
  position: relative;
}
.spriteslider {
  width: 650px;
  height: 350px;
}

#spritetarget {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
}

.mobile {
  display: none;
}

#spritetarget.black {
  background-image: url("img/panel_4/black.png");
}

#spritetarget.blue {
  background-image: url("img/panel_4/blue.png");
}

#spritetarget.green {
  background-image: url("img/panel_4/green.png");
}

#spritetarget.grey {
  background-image: url("img/panel_4/grey.png");
}

#spritetarget.purple {
  background-image: url("img/panel_4/purple.png");
}

#spritetarget.white {
  background-image: url("img/panel_4/white.png");
}
.color-selector {
  padding-left: 20%;
  display: flex;
  * {
    width: 38px;
    height: 38px;
    z-index: 2;
    &:not(:first-of-type) {
      margin-left: 10px;
    }
    &.active {
      margin: -3px;
      &:not(:first-of-type) {
        margin: -3px -3px -3px 7px;
      }
      border: 3px solid #ffde17;
    }
  }
  .black {
    background-color: black;
  }
  .white {
    background-color: white;
  }
  .blue {
    background-color: blue;
  }
  .grey {
    background-color: grey;
  }
  .purple {
    background-color: purple;
  }
  .green {
    background-color: green;
  }
}

.reference {
  width: 90%;
  margin-left: 5%;
  height: auto;
}

.modal {
  max-width: none;
  height: 80%;
}

.modal-link {
  img {
    width: 100%;
  }
}

.text-container {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  .text-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    * {
      position: absolute;
    }
  }
}

@media only screen and (max-width: 850px) {
  .shoe-container {
    transform-origin: center;
    transform: scale(0.5);
    z-index: 3;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .text-container {
    width: 80%;
    margin-left: 10%;
  }
  .reference {
    width: 80%;
    margin-left: 10%;
  }
}
